---
layout: default
lang: en-US
title: Steamy Fish
excerpt: Network Worms developed a scalable icon pack.
permalink: /exts/steamyfish/
---
{% include header.html %}
<div class="crumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/exts/">
				<span itemprop="name">Extensions</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/exts/steamyfish/">
				<span itemprop="name">Steamy Fish</span>
			</a>
			<meta itemprop="position" content="3">
		</li>
	</ul>
</div>
<nav>
	<h3>Navigation:</h3>
	<strong>Steamy Fish</strong>
	<h5>In this directory:</h5>
	<ul>
		<li><a href="./downloads/">Downloads</a></li>
	</ul>
</nav>
<main>
  <h2 class="start">Steamy Fish</h2>
  <p>Type: <strong>Extension</strong></p>
  <p>
		Its Repository: <a href="https://github.com/VitalikLevin/steamyfish-theme" title="VitalikLevin&#47;steamyfish-theme">GitHub</a>
	</p>
	<p>
		Its page on <a href="{{ site.steamyfish }}" title="networkworms.steamyfish">Visual Studio Marketplace</a>
	</p>
</main>
{% include footer.html %}