---
layout: default
lang: en-US
title: Download Nature vs. Spirits
excerpt: History of NvES Builds
permalink: /games/nves/downloads/
---
{% include header.html %}
<div class="crumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/">
				<span itemprop="name">Games</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/nves/">
				<span itemprop="name">Nature vs. Spirits</span>
			</a>
			<meta itemprop="position" content="3">
		</li>
    <li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/nves/downloads/">
				<mark itemprop="name">Downloads</mark>
			</a>
			<meta itemprop="position" content="4">
		</li>
	</ul>
</div>
<main>
  <h2 class="start">Nature vs. Spirits Downloads</h2>
  <h3>v0.1.0</h3>
  <p>prerelease.3: <a href="https://github.com/VitalikLevin/Nature-vs-Spirits/releases/download/v0.1.0-prerelease.3/nves-setup.exe">Windows (64-bit)</a></p>
</main>
{% include footer.html %}