---
layout: default
lang: en-US
title: Picture of the Month
excerpt: A gallery for our pictures.
permalink: /picofmonth/
---
{% include header.html %}
<div class="crumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/picofmonth/">
				<mark itemprop="name">Picture of the Month</mark>
			</a>
			<meta itemprop="position" content="2">
		</li>
	</ul>
</div>
<main>
  <h2 class="start">Picture of the Month</h2>
	<p>
		"Picture of the Month" is an event where you can see our new paintings.
	</p>
	{% for member in site.data.potm %}
	<h5>{{ member.time }}</h5>
  <div itemscope itemtype="https://schema.org/ImageObject" class="image">
		<meta itemprop="name" content="{{ member.name }}">
    <meta itemprop="width" content="400 px">
    <meta itemprop="height" content="300 px">
		<img class="img400" alt="{{ member.desc }}" src="{{ member.src }}" itemprop="contentUrl"><br>
		<span itemprop="description">{{ member.desc }}</span>
	</div>
	{% endfor %}
</main>
{% include footer.html %}