{%- assign pic = site.data.potm.first -%}
{%- unless pic.video == true -%}
<h3>Picture of the <a href="/picofmonth/#{{ pic.time | slugify }}">current</a> month</h3>
<section itemscope itemtype="https://schema.org/ImageObject" class="image">
	<meta itemprop="name" content="{{ pic.name }}">
  <meta itemprop="width" content="{{ pic.width | default: 400 }} px">
  <meta itemprop="height" content="{{ pic.height | default: 300 }} px">
	<img class="img{{ pic.width | default: 400 }}" title="{{ pic.name }}" alt="{{ pic.desc }}" src="{{ pic.src }}" itemprop="contentUrl"><br>
	<span itemprop="description">{{ pic.desc }}</span>
</section>
{%- else -%}
<h3>Video of the <a href="/picofmonth/#{{ pic.time | slugify }}">current</a> month</h3>
<section class="image" title="{{ pic.name }}">
	<video autoplay loop muted width="280">
		<source src="{{ pic.src }}" type="video/mp4">
	</video><br>
	<span>{{ pic.desc }}</span>
</section>
{%- endunless -%}
