{%- assign titlarr = include.titles | split: "$$" -%}
{%- assign urlarr = include.urls | split: "$" -%}
{%- capture alienCrumb -%}
<section class="crumb">
  <p itemscope itemtype="https://schema.org/BreadcrumbList">
    <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ site.url }}/"><span itemprop="name">Network Worms</span></a>
			<meta itemprop="position" content="1"> &#62;
    </span>
    {%- for member in urlarr -%}
		<span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}{{ member }}">
      {%- if urlarr.last == member -%}
        <mark itemprop="name">{{ titlarr[forloop.index0] }}</mark>
      {%- else -%}
        <span itemprop="name">{{ titlarr[forloop.index0] }}</span>
      {%- endif -%}
      </a>
      {%- assign realpos = forloop.index -%}
      <meta itemprop="position" content="{{ realpos | plus:1 }}">
      {%- if urlarr.last != member -%}
      &#160;&#62;&#160;
      {%- endif -%}
    </span>
    {%- endfor -%}
  </p>
</section>
{%- endcapture -%}
{{- alienCrumb | remove: "\t" | strip_newlines -}}