<div id="posts"></div>
<script>
  window.addEventListener('load', function() {
    var request = new XMLHttpRequest();
    request.open('GET', 'https://vitaliklevin.github.io/feed.xml', true);
    request.onload = function(data) {
      if (data.target.status >= 200 && data.target.status < 300) {
        var feed = data.target.responseXML;
        var entries = feed.querySelectorAll('entry');
        for (var i = 0; i < entries.length; i++) {
          var post = parsePost(entries[i]);
          appendPost(post);
        }
      }
    };

    request.send();

    function parsePost(entry) {
      return {
        title: getAttribute(entry, 'link', 'title'),
        href: getAttribute(entry, 'link', 'href'),
        published: getTextContent(entry, 'published'),
        summary: getTextContent(entry, 'summary')
      };
    }

    function getAttribute(entry, selector, attributeName) {
      var element = entry.querySelector(selector);

      return (element == null) ? null : element.getAttribute(attributeName);
    }

    function getTextContent(entry, selector) {
      var element = entry.querySelector(selector);

      return (element == null) ? null : element.textContent;
    }

    function appendPost(post) {
      appendHeaderLink(post.title, post.href);
      
      appendParagraph(post.published, 'date');
      appendParagraph(post.summary);
    }

    function appendHeaderLink(title, href) {
      var a = document.createElement('a');
      a.setAttribute('href', href);
      a.appendChild(document.createTextNode(title));
      
      var h3 = document.createElement('h3');
      h3.appendChild(a);

      document.getElementById('posts').appendChild(h3);
    }

    function appendParagraph(text, className) {
      if (text == null)
        return;

      var p = document.createElement('p');
      p.setAttribute('class', className);
      p.appendChild(document.createTextNode(text));

      document.getElementById('posts').appendChild(p);
    }
  });
</script>