<!--noindex-->
<div id="cooknote">
	<p>
		<img src="/files/svg/1f36a.svg" alt="&#127850;">
	{%- if page.lang == 'ru' -%}
		Мы используем <code data-tooltip="для аналитики">cookies</code>. Чтобы их отключить, зайдите в настройки браузера.
	{%- else -%}
		We use <code data-tooltip="for analytics">cookies</code>. But you can turn these things off in the settings of the browser.
	{%- endif -%}
	</p>
	<button class="cookagree">OK</button>
</div>
<div id="promoPWA" hidden>
	{%- if page.lang == 'ru' -%}
	<span>После установки ускорится загрузка страниц этого сайта.</span>
	<span><button id="instPwa">Установить</button> | <button id="insClose">&#x274c;</button></span>
	{%- else -%}
	<span>After installation you can read our website pages without Internet connection.</span>
	<span><button id="instPwa">Install</button> | <button id="insClose">Hide</button></span>
	{%- endif -%}
</div>
<footer id="footer">
	<p>
		&#169;Vitaliy Levin, <span class="num" data-tooltip="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y" }}</span>. All rights reserved.<br>
		<mark id="sleep"></mark>
{%- if page.lang == 'ru' -%}
		<button class="bin" id="darkMode">1</button><label for="darkMode"> Тёмная тема</label><br>
	{%- if include.adjustVol == 'true' -%}
		<label for="siteSound">&#x1f508; <strong>Громкость</strong> (<span id="soundVol">100%</span>)</label><br>
    <input id="siteSound" type="range" min="0" max="1" step="0.05"><br>
	{%- endif -%}
		Содержимое доступно по лицензии <a href="{{ site.license }}" target="_blank">Creative Commons Attribution Share Alike 4.0 International</a>.<br>
		<a href="/about/">О сайте</a>
{%- else -%}
		<button class="bin" id="darkMode">1</button><label for="darkMode"> Dark theme</label><br>
	{%- if include.adjustVol == 'true' -%}
		<label for="siteSound">&#x1f508; <strong>Sounds</strong> (<span id="soundVol">100%</span>)</label><br>
    <input id="siteSound" type="range" min="0" max="1" step="0.05"><br>
	{%- endif -%}
		Content is available under <a href="{{ site.license }}" target="_blank">Creative Commons Attribution Share Alike 4.0 International</a>.<br>
	{%- if page.url == '/about/' -%}
		<mark>About us</mark>
	{%- else -%}
		<a href="/about/">About us</a>
	{%- endif -%}
{%- endif -%}
	</p>
	<div class="imgs">
		<img src="/files/svg/by-sa.svg" alt="" width="120px" height="42px" loading="lazy">
		<span class="top"><a href="#top" title="Back to top">&#x1f845;</a></span>
	</div>
</footer>
<!--/noindex-->