<div id="cooknote">
	<h3>
		<img src="/files/svg/1f36a.svg" alt="Cookie"/>
		Important Message
	</h3>
	<p>
	{% if page.lang == 'en-US' %}
		We use <code>cookies</code> and <code>localStorage</code>. But you can turn these things off in the settings of the browser.
	{% endif %}
	{% if page.lang == 'ru' %}
		Мы используем <code>cookies</code> и <code>localStorage</code>. Чтобы их отключить, зайдите в настройки браузера.
	{% endif %}
	</p>
	<button class="cookagree">OK</button>
</div>
<footer id="footer">
	<p>
		&#169;Vitaliy Levin, <span class="num">2022</span>. All rights reserved.<br>
		Content is available under <a href="{{ site.license }}">Creative Commons Attribution Share Alike 4.0 International</a><br>
		<div class="imgs">
			<img src="{{ "../files/svg/by-sa.svg" | relative_url }}"
				width="120px" height="42px"
				alt="CC-BY-SA 4.0"/>
			<a class="svg" href="#top">
				<img src="{{ "../files/svg/top.svg" | relative_url }}"
					width="42px" height="42px"
					alt="Back to the top"/>
			</a>
		</div>
	</p>
</footer>