<!--noindex-->
<section id="cooknote">
	<p>
		<img src="/files/svg/1f36a.svg" alt="&#127850;">
	{%- if page.lang == 'ru' -%}
		Мы используем <code title="...для аналитики">cookies</code>. Чтобы их отключить, зайдите в настройки браузера.
	{%- else -%}
		We use <code title="...for analytics">cookies</code>. But you can turn these things off in the settings of the browser.
	{%- endif -%}
	</p>
	<button class="cookagree">OK</button>
</section>
<section id="promoPWA" hidden>
	{%- if page.lang == 'ru' -%}
	<span>После установки появится возможность посещать страницы без доступа к Интернету.</span>
	<span><button id="instPwa">Установить</button> | <button id="insClose">&#215;</button></span>
	{%- else -%}
	<span>After installation you can read our website pages without Internet connection.</span>
	<span><button id="instPwa">Install</button> | <button id="insClose">Hide</button></span>
	{%- endif -%}
</section>
<footer id="footer">
	<p>
		&#169;Vitaliy Levin, <span class="num" title="{{ site.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%Y" }}</span>. All rights reserved.<br>
		<mark id="sleep"></mark>
		{%- if page.lang == 'ru' -%}
		<button class="bin" id="darkMode">1</button><label for="darkMode"> Тёмная тема</label><br>
		Содержимое доступно по лицензии <a href="{{ site.license }}" target="_blank">Creative Commons Attribution Share Alike 4.0 International</a>.<br>
		<a href="/about/">О сайте</a>
		{%- else -%}
		<button class="bin" id="darkMode">1</button><label for="darkMode"> Dark theme</label><br>
		Content is available under <a href="{{ site.license }}" target="_blank">Creative Commons Attribution Share Alike 4.0 International</a>.<br>
		<a href="/about/">About us</a>
		{%- endif -%}
	</p>
	<div class="imgs">
		<img src="/files/svg/by-sa.svg" alt="" width="120px" height="42px" loading="lazy">
		<span class="top"><a href="#top" title="Back to top">&#x1f845;</a></span>
	</div>
</footer>
<!--/noindex-->