---
layout: default
lang: en-US
title: Bounce's Adventure
excerpt: This game uses Unity Engine.
permalink: /games/bsa/
---
{% include header.html %}
<div class="crumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1" />
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/">
				<span itemprop="name">Games</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/bsa/">
				<span itemprop="name">Bounce's Adventure</span>
			</a>
			<meta itemprop="position" content="3" />
		</li>
	</ul>
</div>
<main>
	<h2 class="start">Bounce's Adventure</h2>
	<img class="img400" src="../../files/images/bounce-s-adventure.png"
		alt="Bounce walks in the forest"/><br>
	<a href="https://github.com/VitalikLevin/Bounce-s-Adventure"
		title="VitalikLevin&#47;Bounce-s-Adventure">
		Its repositiory on GitHub
	</a>
</main>
{% include footer.html %}