---
layout: article
title: Blog
excerpt: Main page of Network Worms' Blog
lang: en-US
canon: /blog/
---
<p>
	In this page you can find all posts from our site.
</p>
{% for post in paginator.posts %}
	<div id="post">
		<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
		<p>{{ post.excerpt }}</p>
		<blockquote class="pubDat">{{ post.date | date: "%d.%m.%Y" }}</blockquote>
	</div>
{% endfor %}
{% if paginator.total_pages > 1 %}
	<ul>
		{% if paginator.previous_page %}
			<li><a href="{{ paginator.previous_page_path }}">Back</a></li>
		{% else %}
			<li>Back</li>
		{% endif %}
			<li>Page {{ paginator.page }} from {{ paginator.total_pages }}</li>
		{% if paginator.next_page %}
			<li><a href="{{ paginator.next_page_path }}">Next</a></li>
		{% else %}
			<li class="next">Next</li>
		{% endif %}
	</ul>
{% endif %}
