---
layout: default
lang: en-US
title: About Nature vs. Spirits
excerpt: Learn more about NvES at this page
permalink: /games/nves/about/
---
{% include header.html %}
<div class="crumb">
	<ul itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/">
				<span itemprop="name">Games</span>
			</a>
			<meta itemprop="position" content="2">
		</li>
		<li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/nves/">
				<span itemprop="name">Nature vs. Spirits</span>
			</a>
			<meta itemprop="position" content="3">
		</li>
    <li itemprop="itemListElement" itemscope
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="{{ site.url }}/games/nves/about/">
				<mark itemprop="name">About</mark>
			</a>
			<meta itemprop="position" content="4">
		</li>
	</ul>
</div>
<main>
	<h2 class="start">About Nature vs. Spirits</h2>
  <section itemscope itemtype="https://schema.org/VideoGame">
    <meta itemprop="name" content="Nature vs. Spirits">
    <link href="{{ site.url }}/games/nves/" itemprop="url">
    <img class="prodlogo" alt="Nature vs. Spirits logo" itemprop="image" src="/files/images/nves-logo.png"><br>
    <strong itemprop="description">Dull. Awful. Short.</strong>
    <p>Author: <mark itemprop="author">Network Worms</mark></p>
    <meta itemprop="playMode" content="SinglePlayer">
    <p>Genre: <strong itemprop="genre">Tower Defense / 2D / Fixed</strong></p>
		<h3 id="systemrequirements">System Requirements</h3>
		<p>Operating System: <strong itemprop="operatingSystem">Windows 7 (64-bit)</strong></p>
    <p>Processor: <strong itemprop="processorRequirements">Intel Celeron 1.8 GHz</strong></p>
    <p>RAM: <strong itemprop="memoryRequirements">2 Gb</strong></p>
    <p>Storage: <strong itemprop="storageRequirements">60 Mb</strong></p>
		<p>Required software: <strong itemprop="softwareRequirements">.NET Framework 3.5</strong></p>
		<h3 id="platforms">Platforms</h3>
    <ul>
      <li itemprop="gamePlatform">PC game</li>
    </ul>
  </section>
</main>
{% include footer.html %}