@keyframes msgResize {
  from {
    width: 1px;
    height: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  20% {
    height: 3vw;
  }
  70% {
    height: 10vw;
  }
  95% {
    height: 14vw;
  }
}
dialog:modal {
  animation: 3s msgResize;
}