@keyframes msgResize {
  from {
    width: 1px;
    height: 1px;
  }
  1% {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  20% {
    height: 5vw;
  }
  70% {
    height: 10vw;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(0.8turn);
  }
}
dialog:modal {
  animation: 3s msgResize;
}
#logo:hover {
  animation: 3s infinite alternate spinning;
}