.highlight {
  background-color: rgb(39, 39, 39);
  color: rgb(244, 244, 244);
  overflow-x: scroll;
}
.highlight pre { user-select: all; }
td.gutter pre { user-select: none; }
td.gutter {
  border-right: 1px solid rgb(244, 244, 244);
  padding-right: 5px;
}
.m { color: rgb(54, 119, 169); }
.n { color: rgb(208, 208, 208); }
.na { color: rgb(187, 187, 187); }
.nc {
  color: rgb(68, 127, 207);
  text-decoration: underline;
}
.nl { color: rgb(208, 208, 208); }
.no { color: rgb(64, 255, 255); }
.nt {
  color: rgb(139, 195, 74);
  font-weight: bold;
}
.nv { color: rgb(244, 60, 54); }
.p, .pi { color: rgb(208, 208, 208); }
.s { color: rgb(237, 157, 19); }