html {
  background-color: #000;
  color: #fff;
}

header h2, header h2 a {
  color: #fff;
}

nav {
  color: #000;
  background-color: #ffcf73;
}

blockquote {
  background-color: #f4f7f8;
  color: #000;
  border-left: 3px solid #00adef;
}

img {
  filter: brightness(.8) contrast(1.2);
}

.smile {
  color: #ffd300;
  font-weight: bold;
}

.start {
  color: blue;
}

.blog {
  background-color: #000;
  color: #fff;
}
