html {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header h2, header h2 a {
  background-color: rgb(12, 12, 12);
  color: rgb(243, 243, 243);
}

footer, nav {
  background-color: rgb(12, 12, 12);
}

blockquote {
  color: rgb(0, 243, 0);
  border-left: 3px solid #00adef;
}

img {
  filter: brightness(.8) contrast(1.2);
}

.smile {
  color: rgb(255, 211, 0);
}

.start {
  color: rgb(93, 138, 168);
}

.blog {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
