:root {
	background-color: rgb(0, 0, 0);
	color: rgb(238, 238, 238);
	color-scheme: dark;
}

header {
	background-color: rgba(22, 22, 29, 0.7);
}

#cooknote.show {
	background-color: rgb(22, 22, 29);
}

header, header span a:any-link, #cooknote.show {
	color: rgb(238, 238, 238);
}

article, footer, h3, main, nav, select option {
	background-color: rgb(55, 55, 55);
}

blockquote, #playlist {
	color: rgb(177, 177, 177);
	border-left: 3px solid rgb(100, 181, 246);
}

dialog {
	background-color: rgb(41, 41, 41);
	color: rgb(225, 227, 230);
}

blockquote h3, button, select, ::file-selector-button, ::selection, #sleep, .top a:any-link {
	color: rgb(238, 238, 238);
}

.start, a {
	color: rgb(100, 181, 246);
}

mark, ::selection {
	background-color: rgb(249, 168, 37);
}

kbd {
	border: 1px solid rgb(238, 238, 238);
}

input[type="range"] {
	accent-color: rgb(249, 168, 37);
}

a:hover {
	color: rgb(249, 173, 129);
}

a:visited {
	color: rgb(249, 168, 37);
}

#wDuration, #wFile {
	background-color: rgb(244, 60, 54);
}

button#realAdd {
	color: rgb(139, 195, 74);
}

::file-selector-button, button, select {
	border-color: rgb(238, 238, 238);
}

mark::selection, mark *::selection {
	background-color: rgba(100, 181, 246, 0.8);
}

::backdrop, [contenteditable]::selection {
	background-color: rgba(0, 0, 0, 0.6);
}

#promoPWA {
	background-color: rgb(88, 116, 146);
}

.fillWh {
	fill: rgb(238, 238, 238);
}

.strBl {
	stroke: rgb(18, 18, 18);
}

.strWh {
	stroke: rgb(238, 238, 238);
}