:root, #cooknote button {
	color: rgb(18, 18, 18);
}

header h2, header h2 a:any-link, header h2::selection {
	background-color: rgb(246, 170, 126);
	color: rgb(244, 244, 244);
}

h3 {
	color: rgb(246, 170, 126);
	text-shadow: 1px 1px 1px rgb(18, 18, 18);
}

blockquote, #cooknote.show {
	border-left: 3px solid rgb(244, 60, 54);
}

.start, a {
	color: rgb(100, 181, 246);
}

a:visited {
	color: rgb(249, 168, 37);
}

mark, ::selection {
	background-color: rgb(249, 168, 37);
}