html {
  background-color: rgb(244, 244, 244);
  color: rgb(12, 12, 12);
}

header h2, header h2 a, header h2 a:visited {
  background-color: rgb(246, 170, 126);
  color: rgb(12, 12, 12);
}

blockquote {
  border-left: 3px solid rgb(255, 82, 16);
}

.smile {
  color: rgb(255, 211, 0);
}

.start, a {
  color: rgb(93, 138, 168);
}

.blog {
  background-color: rgb(244, 244, 244);
  color: rgb(12, 12, 12);
}

a:visited {
  color: rgb(246, 170, 126);
}

.articlePart {
  color: rgb(246, 170, 126);
  text-shadow: 1px 1px 1px rgb(20, 20, 20);
}

.top img {
  color: rgb(55, 55, 55);
  background-color: rgb(244, 244, 244);
}
