:root, button, .crumb ul li:last-child a::after {
	color: rgb(18, 18, 18);
}

header h2, header h2 a:any-link {
	background-color: rgb(144, 51, 18);
	text-shadow: 0px 1px 0px rgb(18, 18, 18);
	color: rgb(244, 244, 244);
}

h3 {
	color: rgb(144, 51, 18);
}

#wDuration {
	background-color: rgb(244, 60, 54);
}

#cooknote.show {
	border-top: 2px solid rgb(244, 60, 54);
	background-color: rgb(244, 244, 244);
}

blockquote, #playlist.show {
	border-left: 3px solid rgb(100, 181, 246);
}

.warn {
	border-left: 3px solid rgb(249, 168, 37);
}

kbd, #options {
	border: 1px solid rgb(18, 18, 18);
}

.start, a {
	color: rgb(18, 71, 122);
}

a:visited {
	color: rgb(249, 168, 37);
}

mark, ::selection {
	background-color: rgb(249, 168, 37);
	color: rgb(43, 43, 43);
}

::file-selector-button, button {
	border-color: rgb(18, 18, 18);
}

::backdrop, [contenteditable]::selection {
	background-color: rgba(18, 18, 18, 0.6);
}

mark::selection {
	background-color: rgba(100, 181, 246, 0.8);
}

#promoPWA {
	background-color: rgb(18, 71, 122);
}

#backtotop, .fillWh {
	fill: rgb(18, 18, 18);
}

#vinyl {
	stroke: rgb(18, 18, 18);
}

.strWh {
	stroke: rgb(244, 244, 244);
}