@import url(fonts.css);
@import url(code.css);
:root, button, dialog, input, select, ::before, ::file-selector-button {
	font-family: liberastika, sans-serif;
}

strong, .start, button#realAdd {
	font-weight: bold;
}

header h2, header h2 a, .crumb li:last-child a {
	text-decoration: none;
}

blockquote, .postLink:hover, #playlist {
	margin: 0;
	padding-left: 10px;
}

button, ::file-selector-button, select {
	background-color: transparent;
	border-width: 0.5px;
}

button:hover, details > summary:hover, ::file-selector-button:hover, button + label:hover, select:hover {
	opacity: 0.7;
	cursor: pointer;
}

#hOpen {
	cursor: help;
}

.crumb ul {
  list-style-type: none;
}

.image {
	margin-left: 5px;
	margin-top: 5px;
}

.image span, .num, .pubDat, .robExample {
	font-family: robotoslab, serif;
}

code, kbd, ::placeholder {
	font-family: jbmono, monospace;
}

.pubDat, #cooknote h3 {
	font-size: 16px;
}

.top {
	visibility: hidden;
}

header h2, details > summary, dialog, label {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.pubDat img, #cooknote img {
	margin-right: 8px;
	margin-left: 8px;
}

#cooknote {
	position: fixed;
	display: none;
	z-index: 3;
	left: 0;
	right: 0;
	bottom: 0;
}

.cookagree, #wClose {
	padding: 0;
	position: fixed;
	left: calc(98vw - 48px);
	aspect-ratio: 1 / 1;
	min-width: 48px;
}

.cookagree {
	bottom: 1dvh;
	right: 2vw;
}

#cooknote.show {
	display: block;
}

.pubDat img, #cooknote img, button#realAdd, button.bin {
	aspect-ratio: 1 / 1;
	height: 24px;
	padding: 0;
}

#cooknote p, #promoPWA span {
	max-width: 80vw;
}

.crumb li:last-child a {
  cursor: not-allowed;
}

input[type="text"], dialog {
	min-width: 35vw;
}

[data-before] {
	display: inline;
}

[data-before]::before {
	content: attr(data-before);
}

dialog {
	border: none;
}

dialog h3, dialog button {
	text-align: center;
}

dialog p, dialog h3, #options h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

dialog button {
	float: right;
}

#wDuration {
	position: fixed;
	top: 1vh;
	left: 0vw;
	width: 95vw;
	z-index: 2;
}

#wClose {
	top: 1.5vh;
	right: 6vw;
}

.lockScroll {
	overflow-y: hidden;
}

button#realAdd {
	background-image: url(../svg/2714.svg);
	background-position: center;
	background-size: cover;
	position: absolute;
	margin-left: 8px;
}

#logo {
	width: 30px;
	aspect-ratio: 1 / 1;
	margin-bottom: -4px;
}

.listLogo, .pubDat img, #cooknote img {
	margin-bottom: -6px;
}

img[class^="img"], .prodlogo {
	max-width: 75vw;
}

.crumb ul li:last-child a::after {
	content: "\2190 You are here";
}

figure {
	margin: 4px 4px;
	max-width: 85vw;
}

code {
	word-break: break-word;
}
@media screen and (orientation: portrait) {
	.top {
		position: fixed;
		right: 3px;
		bottom: 10px;
		z-index: 2;
		visibility: visible;
	}
	input[type="text"] {
		min-width: 55vw;
	}
	nav ul li, .crumb ul li, input, select {
		margin-bottom: 8px;
	}
}