@font-face {
  font-family: "zantroke";
  src: url("../fonts/zantroke.woff2") format("woff2"),
       url("../fonts/zantroke.woff") format("woff"),
       url("../fonts/zantroke.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zillaslab";
  src: url("../fonts/zilla_slab.woff2") format("woff2"),
       url("../fonts/zilla_slab.woff") format("woff"),
       url("../fonts/zilla_slab.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "notoemoji";
  src: url("../fonts/noto_color_emoji.woff2") format("woff2"),
       url("../fonts/noto_color_emoji.woff") format("woff"),
       url("../fonts/noto_color_emoji.svg") format("svg"),
       url("../fonts/noto_color_emoji.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range: U+1F600—1F64F;
}

header h2, header h2 a {
  text-decoration: none;
}

blockquote {
  margin: 0px;
  padding: 10px;
}

header, footer {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
}

footer {
  margin-top: 15px;
}

.start {
  font-family: zantroke;
}

.blog {
  margin: 0px;
}

.blog a {
  text-decoration: none;
}

.num, .blog {
  font-family: zillaslab;
}

.smile {
  font-family: notoemoji;
}

.top {
  margin-left: calc(98% - 40px);
}

.bread {
  list-style: none;
}

.bread li {
  margin-top: 0px;
  margin-left: 5px;
}

@media screen and (orientation: portrait) {
  .img400 {
    width: 75%;
    height: 75%;
  }
  .top {
    margin-left: 85%;
  }
}
