@import url(fonts.css);
@import url(anim-s.css);
:root, button, dialog, input, select, ::before, ::file-selector-button {
	font-family: liberastika, sans-serif;
}

strong, .start, button#realAdd {
	font-weight: bold;
}

header h2, header h2 a, .crumb li:last-child a {
	text-decoration: none;
}

blockquote, .postLink:hover {
	margin: 0;
	padding: 10px;
}

button, ::file-selector-button, select {
	background-color: transparent;
	border-width: 0.5px;
}

.crumb ul {
  list-style-type: none;
}

footer, .image {
	margin-left: 5px;
	margin-top: 5px;
}

.image span, .num, .pubDat {
	font-family: zillaslab;
}

code, kbd, ::placeholder {
	font-family: jbmono, monospace;
}

.pubDat, #cooknote h3 {
	font-size: 16px;
}

.top {
	visibility: hidden;
}

header h2 {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.pubDat img, #cooknote h3 img {
	margin-right: 8px;
	margin-left: 8px;
}

#cooknote {
	margin: 0;
	display: none;
}

#cooknote.show, #playlist.show {
	padding-left: 10px;
	display: block;
}

.pubDat img, #cooknote h3 img, button#realAdd {
	width: 24px;
	height: 24px;
	padding: 0;
}

.crumb li mark {
  cursor: not-allowed;
}

input[type="text"], dialog {
	min-width: 35vw;
}

#sort {
	display: inline;
}

#sort::before {
	content: attr(data-before);
}

dialog {
	border: none;
}

dialog h3 {
	text-align: center;
}

dialog p, dialog h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

.lockScroll {
	overflow-y: hidden;
}

button#realAdd {
	background-image: url(../svg/2714.svg);
	background-position: center;
	background-size: cover;
	position: absolute;
	margin-left: 2px;
}

#logo {
	width: 30px;
	height: min-content;
}
@media screen and (orientation: portrait) {
	.img400, .prodlogo {
		max-width: 75vw;
	}
	.top {
		float: right;
		visibility: visible;
	}
	input[type="text"] {
		min-width: 55vw;
	}
}
@media screen and (hover: none) {
	nav ul li { min-height: 48px; }
}