table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

th, td {
  padding: 5px;
}

th, td {
  text-align: center;
}

caption {
  text-align: left;
}

/* Zebra */

tbody tr:nth-child(2n-1) {
  background-color: yellow;
}

tbody tr:nth-child(2n) {
  background-color: #00ff00;
}
