table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

th, td {
  padding: 5px;
}

tbody td {
  text-align: center;
}

/* Zebra */

tbody tr:nth-child(odd) {
  background-color: yellow;
}

tbody tr:nth-child(even) {
  background-color: blue;
}
