---
layout: default
lang: en-US
title: Nature vs. Evil Spirits
excerpt: Network Worms' Tower Defence
canon: /games/nves/
---
{% include header.html %}
<div class="crumb">
	<ol itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="https://vitaliklevin.github.io/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1" />
		</li>
		<li itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="https://vitaliklevin.github.io/games/">
				<span itemprop="name">Games</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
	</ol>
</div>
<main>
	<h2 class="start">Nature vs. Spirits</h2>
	<img class="img400" src="../../files/images/nves.png" />
	<a href="https://github.com/VitalikLevin/Nature-vs-Spirits">
		Its repository on GitHub
	</a>
</main>
{% include footer.html %}