---
layout: default
lang: en-US
title: Nature vs. Evil Spirits
excerpt: Tower Defence
canon: /games/nves/
---
{% include header.html %}
<div class="bread" itemscope itemtype="https://schema.org/BreadcrumbList">
	<span itemprop="itemListElement">
		<a itemscope
			 itemtype="https://schema.org/ListItem"
			 href="https://vitaliklevin.github.io/">
			<span itemprop="name">Network Worms</span>
			<meta itemprop="position" content="1" />
		</a>
	</span>
	&#47;
	<span itemprop="itemListElement">
		<a itemscope
			 itemtype="https://schema.org/ListItem"
			 href="https://vitaliklevin.github.io/games/">
			<span itemprop="name">Games</span>
			<meta itemprop="position" content="2" />
		</a>
	</span>
	&#47;
	<strong>Nature vs. Evil Spirits</strong>
</div>
<main>
	<h2 class="start">Nature vs. Evil Spirits</h2>
	<img class="img400" src="../../files/images/nves.png" />
</main>
{% include footer.html %}
