<!DOCTYPE html>
<html lang="{{ page.lang | default: en-US }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} - NW Blog</title>
    <meta name="description" content="{{ page.excerpt | default: site.description }}">
    <link rel="stylesheet" href="{{ "../files/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "../files/css/dark.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "../files/icons/favicon.ico" | relative_url }}" type="image/x-icon">
    <link rel="icon" href="{{ "../files/icons/favicon120x120.ico" | relative_url }}" type="image/x-icon">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="https://vitaliklevin.github.io/feed.xml">
    <meta property="og:title" content="Network Worms Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We develop games for PC not PCs for games" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="ru_RU" />
    <meta property="og:image" content="https://vitaliklevin.github.io/files/images/open-graph.png" />
    <script type="text/javascript" src="{{ "../files/js/metric.js" | relative_url }}"></script>
    <meta name="yandex-verification" content="b24725ffa2e7d4a6" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
