<!DOCTYPE html>
<html lang="{{ page.lang | default: en-US }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}}{{ site.title | escape }}{% endif %} - NW Blog</title>
    <meta name="description" content="{{ page.excerpt | default: site.description }}">
    <link rel="stylesheet" href="{{ "../files/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "../files/css/dark.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "../files/icons/markdown.ico" | relative_url }}" type="image/x-icon">
    <meta property="og:title" content="Network Worms Blog" />
    <meta property="og:description" content="We develop games for PC not PCs for games" />
    <meta property="og:image" content="https://vitaliklevin.github.io/files/images/open-graph.png" />
</head>
  <body>
    {{ content }}
  </body>
</html>