<!DOCTYPE html>
<html lang="{{ page.lang | default: en-US }}" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }} - NW Blog</title>
		<meta name="description" content="{{ page.excerpt | default: site.description }}">
		<link rel="canonical" href="{{ site.url }}{{ page.permalink | default: page.url }}">
		<link rel="stylesheet" href="/files/css/style.css">
		<link rel="stylesheet" href="/files/css/dark.css">
		<link rel="stylesheet" href="/files/css/anim-s.css" media="screen and (prefers-reduced-motion: no-preference)">
		<link rel="apple-touch-icon-precomposed" href="/files/icons/favicon192.png" type="image/png" sizes="192x192">
		<link rel="apple-touch-icon" href="/files/icons/favicon180.png" type="image/png" sizes="180x180">
		<link rel="mask-icon" href="/files/icons/white-path.svg" color="#f9ad81">
		<link rel="icon" href="/files/icons/favicon.svg" type="image/svg+xml" sizes="any">
		<link rel="icon" href="/files/icons/favicon96.png" type="image/png" sizes="96x96">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-config" content="/browserconfig.xml">
		<meta name="application-name" content="{{ site.title }} Blog">
		<meta name="msapplication-tooltip" content="{{ site.title }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="HandheldFriendly" content="True">
		<link rel="yandex-tableau-widget" href="/tableau.json">
		<meta name="theme-color" content="#121212">
		<link rel="me" href="https://social.vivaldi.net/@zaka09mute">
		<meta name="fediverse:creator" content="@zaka09mute@vivaldi.net">
		<meta property="og:title" content="{{ page.title }} - NW Blog">
		<meta property="og:url" content="{{ site.url }}{{ page.permalink | default: page.url }}">
		<meta property="og:type" content="website">
		<meta property="og:description" content="{{ page.excerpt }}">
		<meta property="og:locale" content="en_US">
		<meta property="og:locale:alternate" content="ru_RU">
		<meta property="og:image" content="{{ site.url }}{{ page.image.path | default: site.og_p }}">
		{%- if page.image.path contains ".webp" -%}
		<meta property="og:image:type" content="image/webp">
		{%- else -%}
		<meta property="og:image:type" content="image/png">
		{%- endif -%}
		<meta property="og:image:width" content="{{ page.image.width | default: 400 }}">
		<meta property="og:image:height" content="{{ page.image.height | default: 300 }}">
		<meta property="og:image:alt" content="{{ page.image.desc | default: site.og_pa }}">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<meta name="yandex-verification" content="b24725ffa2e7d4a6">
		<meta name="google-site-verification" content="yahAonXkmtS9ASTgJphU5M3HR9fHyvOG6pXX4kzQ2pw">
		<meta name="msvalidate.01" content="0B6583F3F8C1659E185F49DB6386D481">
	</head>
	<body>
		{{- content -}}
		{%- if jekyll.environment == 'production' -%}
		{%- include tracking.html -%}
		{%- endif -%}
		<script defer src="/files/js/app.js"></script>
	</body>
</html>