<!DOCTYPE html>
<html lang="{{ page.lang | default: en-US }}" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title | default: site.title }} - Network Worms</title>
		<meta name="description" content="{{ page.excerpt | default: site.description }}">
		<link rel="stylesheet" href="{{ "../files/css/style.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "../files/css/dark.css" | relative_url }}">
		<link rel="apple-touch-icon-precomposed" href="{{ "../files/icons/favicon144.png" | relative_url }}" sizes="144x144" type="image/png">
		<link rel="icon" href="{{ "../files/icons/favicon.svg" | relative_url }}" type="image/svg+xml">
		<link rel="shortcut icon" href="{{ "../files/icons/favicon64.ico" | relative_url }}" type="image/x-icon">
		<meta property="og:title" content="Network Worms" />
		<meta property="og:description" content="We develop games for PC not PCs for games" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://vitaliklevin.github.io/files/images/open-graph.png" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:locale:alternate" content="ru_RU" />
		<script type="text/javascript" src="{{ "../files/js/metric.js" | relative_url }}"></script>
		<meta name="yandex-verification" content="b24725ffa2e7d4a6" />
		<meta name="google-site-verification" content="yahAonXkmtS9ASTgJphU5M3HR9fHyvOG6pXX4kzQ2pw" />
	</head>
	<body>
		{{ content }}
	</body>
</html>
