---
layout: b-default
---
{% include header.html %}
<div class="crumb">
	<ol itemscope itemtype="https://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="https://vitaliklevin.github.io/">
				<span itemprop="name">Network Worms</span>
			</a>
			<meta itemprop="position" content="1" />
		</li>
		<li itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="https://vitaliklevin.github.io/blog/">
				<span itemprop="name">Blog</span>
			</a>
			<meta itemprop="position" content="2" />
		</li>
	</ol>
</div>
<main>
	<h2 class="start">{{ page.title }}</h2>
	<span class="pubDat">
		<img width="24px" height="24px"
			src="{{ "../files/svg/1f4c6.svg" | relative_url }}">
		{{ page.date | date: "%d.%m.%Y" }}
	</span>
	{{ content }}
</main>
{% include footer.html %}