<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <link rel="canonical" href="{{ page.redirect.to }}">
    <script>window.location="{{ page.redirect.to }}";</script>
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/files/css/style.css">
    <link rel="stylesheet" href="/files/css/light.css">
  </head>
  <body>
    <main>
      <h2 class="start">301</h2>
      <p><a href="{{ page.redirect.to }}">Click here if you weren’t redirected</a></p>
    </main>
  </body>
</html>